html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.background {
    background-image: url('src/assets/lazlo-panaflex-HSClqx534aI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-wrap: nowrap;
    padding: 20px;
    margin-top: -50px;

}




@media (max-width: 768px) {
    .background {
        background-size: cover;
        background-attachment: fixed;
    }
}


@media (max-width: 1024px) {
    .card-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
    }

    .card-container > .MuiCard-root {
        width: 100%;
        max-width: 100%;
    }
}