html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.background {
    background-image: url('src/assets/lazlo-panaflex-HSClqx534aI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; /* Adjusted space between cards */
    flex-wrap: nowrap; /* Ensure cards stay in one row */
    padding: 20px; /* Reduced padding to avoid overflow issues */
    margin-top: -50px; /* Adjusted to align better within the view */

}


.carousel-container {
    width: 100%;
    max-width: 600px; /* Limit the max width */
    margin: 0 auto; /* Center the carousel */
    padding: 20px; /* Add padding if necessary */
}

.slick-prev, .slick-next {
    color: rgb(180, 155, 99); /* Color of the arrows */
    z-index: 1; /* Make sure arrows appear above the content */
}

.slick-dots li button:before {
    color: rgb(180, 155, 99); /* Color of the dots */
}

.slick-slide > div {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .background {
        background-size: cover;
        background-attachment: fixed;
    }
}